<div class="container">
  <h1>来毛豆网，和最好的老师一对一学编程</h1>
  <hr>
  <button id="toggle-video">切换视频显示窗口</button>
  <div class="web-video-container">
    <h3 class="header">一对一视频使用步骤</h3>
    <p>
      <strong>注意:</strong> 测试一对一视频，必须用 chrome 浏览器
    </p>
    <p>
      下载安装 Chrome 链接 <a href="http://www.google.com/intl/zh-CN/chrome/">http://www.google.com/intl/zh-CN/chrome/</a>
    </p>
    <iframe src="http://61.129.90.140:3001" id="web-video" name="web-video" frameborder="1"></iframe>
  </div>
  <div class="web-shell-container">
    <h3 class="header">结对编程使用步骤</h3>
    <ol>
      <li>看到登录提示，输入用户名 <strong>pp</strong>, 然后按回车键，之后会提示输入密码，输入密码<strong>2code</strong></li>
      <li>登录成功后，看到 <strong>pp@li342-202:~$</strong> 提示符后，运行 ls 命令测试。</li>
      <li>$ 提示符后，输入 <strong>tmux</strong>后按回车键运行</li>
      <li>另外启动浏览器，登录另一个窗口，输入运行 <strong>tmux a</strong> 命令
        (以上这一步，如果是单人自己测试需要做，如果是2人测试，则由第二个人做即可）</li>
        <li>此时可以看到，两个窗口同时可以对文件ls浏览以及用vi修改编译运行源码，这个时候双方就成功进入了结对编程（pair programming）模式。</li>
      </ol>
      <iframe src="https://96.126.117.202:4200/" id="web-shell" name="web-shell" frameborder="1"></iframe>
    </div>
  </div>
  <script>
    $(function() {
      $("#toggle-video").click(function(){
        var toggle_width = $(".web-shell-container").width() == 720 ? "100%" : "720px";
        $(".web-video-container").animate({width: "toggle"}, "slow");
        $('.web-shell-container').animate({width: toggle_width}, "slow");
      });
    });
  </script>