
<div class="container">
  <button id="toggle-video">切换视频显示窗口</button>
  <div class="toggle-container">
    <div class="web-video-container">
      <h2 class="header">一对一视频</h2>
      <p>
        <strong>注意:</strong> 请使用chrome 浏览器测试, 可以通过
        <a href="http://www.google.hk/intl/zh-CN/chrome/" target=_blank>官方站点下载</a>
        或者通过<a href="http://115.com/lb/5lbdel83i86z" target=_blank>115网盘下载</a>(礼包码：5lbdel83i86z)
      </p>
      <div class="web-video">
        <h4>请输入聊天室的名称然后点击“确认”按钮</h4>
        <div id="control">
         <p><input id="roomid" type="text" /><button id="connect">确认</button></p>
       </div>
        <div id="local">
          <video id="localVideo" muted="muted" autoplay="autoplay"></video>
       </div>
       <div id="remote">
        <video id="remoteVideo" autoplay="autoplay"></video>
       </div>
      </div><!-- end web-video -->
    </div><!-- end web-video-container -->
  </div><!-- toggle-container -->

  <div class="web-shell-container">
    <h2 class="header">结对编程 </h2>
    <p>输入对方给你的链接并点击<strong>确认</strong>按钮，就可以在下面的终端中共享鼠标和聊天了，have fun!</p>
    <p><input id="together-url" type="text" /><button id="btn-together">确认</button></p>
    <div id="iframe-container">
      <iframe src="http://pp2code.com:6200/" id="web-shell" name="web-shell" frameborder="1"></iframe>
    </div>
  </div>
</div>
<script>
  $(function() {
    $("#toggle-video").click(function(){
      var toggle_width = $(".web-shell-container").width() == 720 ? "100%" : "720px";

      if($(".web-video-container").css("display") == "block") {
        $(".web-video-container").hide();
      } else {
        $(".web-video-container").show("slow");
      }

      $(".toggle-container").animate({width: "toggle"});
      $('.web-shell-container').animate({width: toggle_width});
    });
    $("#btn-together").click(function(){
      var together_url = $('#together-url').val();
      $("#iframe-container").empty();
      $("#iframe-container").append("<iframe src='" + together_url + "' id='web-shell' name='web-shell' frameborder='1' />");
      $('#web-shell').attr('src', $('#web-shell').attr('src'));
    });
  });
</script>
<script type="text/javascript">
  var serverAddress = 'http://96.126.117.202:8095/webrtc';  // Please change it to signaling server's address.
  var p2p=new Woogeen.Peer({
    iceServers : [ {
      urls : ["turn:180.153.223.233:19302?transport=udp", "turn:180.153.223.233:19302?transport=tcp"],
      credential : "master",
      username : "woogeen"
    }, {
      urls : "stun:61.129.90.140:19302"
    } ]
  });  // Initialize a Peer object
  // var roomToken=JSON.stringify({host:serverAddress, id:Utils.getQueryStrings()['roomId']});  // Tokens for join a room.
  var roomId = $('#roomid').val();
  var roomToken=JSON.stringify({host:serverAddress, id:roomId});  // Tokens for join a room.
  console.log(roomToken);
  var localStream = Woogeen.Stream({audio:true,video:true});  // It only initializes a Woogeen.Stream object. Using localStream.init() to initialize stream.
  localStream.addEventListener("access-accepted", function(evt){  // access-accepted event will be triggered when user accepted to use camera/microphone
    attachMediaStream($('#local video').get(0),localStream.stream)  // Show local stream
    p2p.joinRoom(roomToken,localStream);  // Join a chat room.
  });

  $(document).ready(function(){
    $('#connect').click(function(){
      var roomid = $('#roomid').val();
      var roomToken=JSON.stringify({host:serverAddress, id:roomid});  // Tokens for join a room.
      var localStream = Woogeen.Stream({audio:true,video:true});  // It only initializes a Woogeen.Stream object. Using localStream.init() to initialize stream.
      localStream.addEventListener("access-accepted", function(evt){  // access-accepted event will be triggered when user accepted to use camera/microphone
        attachMediaStream($('#local video').get(0),localStream.stream)  // Show local stream
        p2p.joinRoom(roomToken,localStream);  // Join a chat room.
      });
      p2p.connect(serverAddress,Utils.getQueryStrings()['uId']);  // Connect to peer server.
      localStream.init();  // Initialize local stream.
      //p2p.leaveRoom(roomToken);  // Quit current chat room.
    });
  });

  p2p.addEventListener('stream-subscribed',function(e){  // A remote stream is available.
    $('#remote video').show();
    attachMediaStream($('#remote video').get(0),e.stream.stream);  // Show remote stream.
  });

  p2p.addEventListener('chat-stopped',function(e){  // Chat stopped
    $('#remote video').hide();
  });

  p2p.addEventListener('chat-started',function(e){  // Chat started
    console.log('Video chat is started.');
  });
</script>
