.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

#header {
  background-color: #FAFAFA;
  background: -moz-linear-gradient(#fafafa, #eaeaea);
  background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #CACACA;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: -49px;
}

.site-logo {
  float: left;
  margin: 10px 0;
}

.site-logo a {
  float: left;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

#header ul.top-nav {
  position: relative;
  float: right;
}

#header ul.top-nav li {
  position: relative;
  float: left;
}

#header a:hover {
  text-decoration: none;
  color: #000;
}

#header ul.top-nav li {
  a, button {
    margin-left: 15px;
    display: block;
    height: 47px;
    line-height: 46px;
    color: #000;
    font-weight: bold;
    font-size: 13px;
  }
}

#header button {
  border: 0;
  background: none;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 1200px;
}
.site-footer, #wrapper:after{
  height: 20px;
}

.site-footer-links.right {
  float: right;
}

.site-footer-links {
  float: left;
  margin: 0;
  list-style: none;
}

.right {
  float: right;
}

.site-footer-links li {
  display: inline-block;
  line-height: 16px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 200px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 180px; /*Width of left column in percentage*/
margin-left: -100%;
}

#rightcolumn{
float: left;
width: 200px; /*Width of right column in pixels*/
margin-left: -200px; /*Set margin to that of -(RightColumnWidth)*/
}

#maincontainer, #contentwrapper, #contentcolumn, #leftcolumn, #rightcolumn {
  height: 100%;
}