.web-video-container {
  float: left;
  width: 400px;
}
.web-shell-container {
  float: right;
  width: 720px;
}
#toggle-video {
  position: absolute;
  padding: 5px 10px;
  left: 0;
  top: -35px;
  outline: none;
}
#web-video {
  width: 360px;
  height: 540px;
}
#web-shell {
  width: 720px;
  height: 540px;
}