#toggle-video {
  position: absolute;
  padding: 5px 10px;
  left: 0;
  top: -35px;
  outline: none;
}

#wrapper, .container, .web-video-container, .web-shell-container,
#iframe-container, #web-shell {
  height: 100%;
  overflow: hidden;
}

#wrapper {
  padding-top: 49px;
  padding-bottom: 25px;
}

.web-video-container, .web-shell-container {
  position: absolute;
  top: 0;
  padding-top:5px;
}

.web-video-container {
  width: 400px;
  left: 0;
}

.web-shell-container {
  width: 720px;
  right: 0;
}

.web-video-container.novnc {
  width: 140px;
}

.web-shell-container.novnc {
  width: 1050px;
}

h2.header {
  margin-top: -52px;
}

#web-video {
  width: 360px;
}

#web-shell {
  width: 100%;
}

#local, #remote {
  float: left;
  margin-right: 3px;
}

#localVideo, #remoteVideo {
  width:180px; 
  height:100%;
}