.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.web-video-container {
  float: left;
  width: 400px;
}
.web-shell-container {
  float: right;
  width: 720px;
  }
#toggle-video {
  position: absolute;
  padding: 7px 12px;
  left: 350px;
  outline: none;
}